<html lang='en'>
  <head>

    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Password Reset</title>
    <style>
      body { font-family: Arial, sans-serif; } .container { max-width: 600px;
      margin: 0 auto; padding: 20px;} .button { display: inline-block; padding:
      10px 20px; background-color: #007bff; color: #fff ;text-decoration: none;
      border-radius: 5px;}
    </style>
  </head>
  <body>
    <div class='container'>
      <h2>Password Reset</h2>
      <p>Hello {{name}}</p>
      <p>We received a request to reset your password. Click the button below to
        reset your password:</p>

      <a href='{{link}}' class='button'>Reset Password</a>
      <p>If you did not request a password reset, you can ignore this email.</p>
      <p>Thank you,<br />Fraudit Team</p>
    </div>

  </body>

</html>